{% extends "base.html" %}
{% load static %}
{% block nav %}
{% endblock %}
{% block body %}
	<br>
	<br>
	<div class="alert alert-success" role="alert">
		<div class="jumbotron jumbotron-fluid";style="margin:10px;background color:alert alert-success;">
			<div class="container">
				<h1 class="display-4">TO-DO-LIST App</h1>
				<hr class="my-4">
				<p class="card-body">Write what you want to complete and praise yourself after completing it.<br><br>Wanna join? <a href="/signup/">Register</a></p>
			</div>
		</div>
	</div>
{% endblock %}